// Here you can add other styles
.ml-1 {
  margin-left: 0.25rem !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.ml-4 {
  margin-left: 2rem !important;
}
.mr-4 {
  margin-right: 2rem !important;
}
.ml-5 {
  margin-left: 2.5rem !important;
}
.mr-5 {
  margin-right: 2.5rem !important;
}
.width10 {
  width: 10%;
}
.width15 {
  width: 15%;
}
.width30 {
  width: 30%;
}
.width40 {
  width: 40%;
}
.width70 {
  width: 70%;
}
.width85 {
  width: 85%;
}
.tableContent {
  background-color: #fff;
}
.h60p {
  height: 60px;
}
.mtop10 {
  margin-top: 10px;
}

@media (max-width: 767.98px) {
  .sidebar:not(.sidebar-end) ~ * {
    --cui-sidebar-occupy-start: 16rem !important;
  }
}

.imageProduct {
  min-width: 290px;
  min-height: 200px;
  // max-width: 300px;
  max-height: 300px;
}
.minWidth200 {
  min-width: 200px !important;
}
.width260p {
  width: 260px;
  height: 170px;
}
.minWidth300 {
  min-width: 300px;
}
.minWidth120 {
  min-width: 120px;
}