// Here you can add other styles
.width30 {
    width: 30%;
}
.width40 {
    width: 40%;
}
.width70 {
    width: 70%;
}
.tableContent {
    background-color: #fff;
}
.h60p {
    height: 60px;
}
.mtop10 {
    margin-top: 10px;
}


@media (max-width: 767.98px) {
    .sidebar:not(.sidebar-end) ~ * {
         --cui-sidebar-occupy-start: 16rem !important; 
    }
}

.imageProduct {
    min-width: 100px;
    min-height: 100px;
    // max-width: 300px;
    max-height: 300px;
}